<mat-card>
  <mat-card-header>
    <mat-card-title>job orders</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="job-orders">
      <li
        *ngFor="let jobOrder of jobOrders; trackBy: byId"
        class="item-container"
      >
        <button
          mat-button
          mat-suffix
          mat-icon-button
          color="accent"
          class="delete-button"
          aria-label="Delete"
          (click)="deletejobOrder(jobOrder)"
          matTooltip="Delete the jobOrder"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <div
          class="selectable-item"
          [class.selected]="jobOrder === selectedjobOrder"
          (click)="select(jobOrder)"
        >
          <div class="badge">{{ jobOrder.id }}</div>
          <div class="item-text">
            <div class="name">{{ jobOrder.name }}</div>
            <div class="saying">{{ jobOrder.saying }}</div>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
